
*.iml

Incubee_Android_Studio/.idea/
*.md
Incubee_Android_Studio/.idea/misc.xml
Incubee_Android_Studio/.idea/misc.xml
Incubee_Android_Studio/.idea/gradle.xml
Incubee_Android_Studio/app/app.iml
Incubee_Android_Studio/.idea/gradle.xml
Incubee_Android_Studio/.idea/modules.xml
Incubee_Android_Studio/app/app.iml
